* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #22254b;
  color: white;
  font-family: sans-serif;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #22254b;
  padding: 1rem;
  display: flex;
  margin: 1rem 2.5rem;
  justify-content: space-between;
}

.search {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  /* border-radius: 25px; */
  font-family: sans-serif;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.search:focus {
  outline: 0;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 200px;
}

.single-movie img {
  max-width: 100%;
}

.move-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.movie-info h4 {
  margin: 0;
}

.movie-over {
  background-color: aliceblue;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  color: black;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 75%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.single-movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {
  background-color: aliceblue;
  padding: 0.5rem;
  font-weight: bold;
}

.tag.green {
  color: green;
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}
